html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    background-color: #000000;
    min-height: 80px;
    width: 100%;
    position: fixed;
    max-width: 100%;
    overflow: hidden;
    z-index: 100;
}

div.navbar-contents {
    position: absolute;
    right: 5px;
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.anchor-refs {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    border: 0;
    border-radius: 10px;
}

a.anchor-refs:hover {
    border: 0;
    background: linear-gradient(to right, #000000 50%, #e79b07 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease;
}

a.anchor-refs:target {
    color: #ffffff;
    border: 1px solid #e79b07;
    background-color: #e79b07;
}

div.img-container {
    position: absolute;
    width: 30%;
    height: inherit;
    display: flex;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img.logo {
    position: relative;
    width: 50%;
    height: auto;
    margin: 0 10%;
}

div.anchor-pointer {
    position: relative;
    top: -80px;
}

#body-content{
    position: relative;
    top: 80px;
    background-color: #ffffff;
}

div.page-section{
    position: relative;
    height: fit-content;
    min-height: calc(100vh - 80px);
}

#get-tickets:active {
    background-color: #E9CB8E;
    transition: 0.2s;
}

#home-section {
    width: 100%;
    background-image: url(../images/dune-background-1.jpg);
    background-position: center;
}

p.quote {
    position: absolute;
    top: 3%;
    color: #66280C;
    font-size: 300%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    text-align: center;
    justify-content: space-around;
}

p.movie-description {
    position: absolute;
    top: 40%;
    right: 60%;
    left: 5%;
    transform: translate(10%, -50%);
    color: #66280C;
    line-height: 150%;
    font-size: 200%;
    font-family: 'Trebuchet MS';
    text-align: justify;
}

#get-tickets {
    position: absolute;
    top: 70%;
    left: 7%;
    transform: translate(10%, -50%);
    min-width: 200px;
    width: 15%;
    height: 10%;
    background-color: #66280C;
    border: 0;
    font-size: 200%;
    border-radius: 10px;
    color: #E9CB8E;
    line-height: 250%;
    text-align: center;
}

#get-tickets:hover {
    background-color: #A5663A;
    transition: 0.2s;
}

#story-section {
    background-color: #A5663A;
    background-image: url(../images/dune-background-2.jpg);
    width: 100%;
}

p.movie-story {
    position: absolute;
    line-height: 150%;
    top: 50%;
    width: 55%;
    margin-left: 10%;
    margin-right: 25%;
    transform: translate(0, -50%);
    color: #66280C;
    font-size: 150%;
    font-family: 'Trebuchet MS';
    text-align: justify;
}

#book-cover {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(0, -50%);
    width: 20%;
    height: auto;
}

#cast-n-crew-section {
    background-color: #ffff00;
    background-image: url(../images/dune-background-3.jpg);
    background-position: center;
    width: 100%;
}

div.cast-n-crew-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-around;
}

div.cast-n-crew-grid img {
    width: 50%;
    aspect-ratio: 3/4;
    object-fit: cover;
    height: auto;
}

div.cast-n-crew-grid div.cast-n-crew-item {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 1.5%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

div.cast-n-crew-grid div.text-box {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
}

div.cast-n-crew-grid p.cast-n-crew-name {
    line-height: 150%;
    padding-left: 5px;
    padding-right: 5px;
    color: #E9CB8E;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

div.cast-n-crew-grid p.cast-n-crew-role {
    line-height: 150%;
    padding-left: 5px;
    padding-right: 5px;
    color: #A5663A;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

#gallery-section {
    background-color: #000000;
    width: 100%;
}

div.gallery-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-around;
}

div.gallery-grid img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

div.review-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 20px solid rgba(255, 255, 255, 0);
}

#review-section {
    background-color: #0000ff;
    background-image: url(../images/dune-background-3.jpg);
    background-position: center;
    width: 100%;
}

div.review-box p.review-author {
    text-align: right;
    font-size: 150%;
    line-height: 150%;
    font-weight: bold;
}

div.review-box p.review-text {
    font-size: 200%;
    line-height: 125%;
}

div.review-box p.review-score {
    text-align: center;
    font-size: 150%;
    line-height: 150%;
}

#the-guardian {
    top: 10%;
    left: 10%;
}

#the-independent {
    top: 5%;
    right: 30%;
}

#the-telegraph {
    top: 50%;
    left: 35%;
}

#vox {
    top: 35%;
    right: 5%;
}

div.mobile-nav {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000000;
    color: #ffffff;
    transition: top 0.3s ease;
}

@media only screen and (max-width: 768px) {
    div.navbar-contents {
        display: none;
    }

    img.logo {
        width: 100%;
    }

    div.mobile-nav {
        display: block;
    }

    p.quote {
        position: relative;
        font-size: 200%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    p.movie-description {
        position: relative;
        left: 0;
        padding-left: 3%;
        padding-right: 3%;
        transform: translate(0, 0);
        font-size: 150%;
    }

    #get-tickets {
        left: 50%;
        width: 30%;
        transform: translate(-50%, -50%);
    }

    p.movie-story {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        transform: translate(0, 0);
        font-size: 100%;
        padding-bottom: 5%;
    }

    #book-cover {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        width: 40%;
    }

    div.gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    div.cast-n-crew-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

