html {
    scroll-behavior: smooth;
}

body {
    min-height: 2000px;
}

nav {
    background-color: #000000;
    min-height: 80px;
    width: 100%;
    position: fixed;
    max-width: 100%;
    overflow: hidden;
    z-index: 100;
}

div.navbar-contents {
    position: absolute;
    right: 5px;
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.anchor-refs {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    border: 0;
    border-radius: 10px;
}

a.anchor-refs:hover {
    border: 0;
    background: linear-gradient(to right, #000000 50%, #ff0000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease;
}

a.anchor-refs:target {
    color: #ffffff;
    border: 1px solid #ff0000;
    background-color: #ff0000;
}

div.img-container {
    position: absolute;
    width: 20%;
    height: inherit;
    display: flex;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img.logo {
    position: relative;
    width: 50%;
    height: auto;
    margin: 0 10%;
}

div.anchor-pointer {
    position: relative;
    top: -80px;
}

#body-content{
    position: relative;
    top: 80px;
    background-color: #ffffff;
}

div.page-section{
    position: relative;
    height: calc(100vh - 80px);
}

#home-section {
    background-color: #ff0000;
    width: 100%;
}

#about-section {
    background-color: #00ff00;
    width: 100%;
}

#specs-section {
    background-color: #ffff00;
    width: 100%;
}

#pricing-section {
    background-color: #ff00ff;
    width: 100%;
}

#contact-section {
    background-color: #0000ff;
    width: 100%;
}
